
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Estää vaakasuoran vierityksen */
}

section {
    width: 100%;
    height: 100vh; /* Täyttää koko vertikaalisen näkymän */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative; /* Mahdollistaa päällekkäisyyden */
    background: white; /* Tai mikä tahansa taustaväri */
}

#profile-container {
    text-align: center;
    position: relative;
}

#profile-container img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

#typing-text {
    position: absolute;
    bottom: 20px;
    color: white;
    font-size: 24px;
    font-family: 'Arial', sans-serif;
}

@keyframes slideIn {
    from {
        transform: translateY(100vh);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideOut {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(-100vh);
        opacity: 0;
    }
}
